/* Header */
.header {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Body */
.container {
	background: white;
}

.wrapper {
	background: #f7f7f7;
	padding: 5px 0 0;
}

.body .btn-primary {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 15px;
	vertical-align: baseline;
	height: 30px;
}

.habit-item {
	background: #cecece;
	box-shadow: 4px 5px 9px -4px black;
	padding: 4px;
	border-radius: 4px;
	margin-top: 15px;
}